:root{
    --vermelho:#E50914;
    --preta:#141414;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background: var(--preta);
    font-family: 'Arial', Times, serif;
    color:white;
}    


header .container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    margin-right: 25px;
}


header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size:40px;
}

header nav a{
    text-decoration:none;
    color:#AAA;
    margin-right: 10px;
    
}


header nav a:hover{
    color: #fff;
}

.anime-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('../img/kimetsu6.jpg');

    height: 600px;
    background-size:cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.anime-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: unset;
    max-width: 500px;
}

.titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color: white;
    color: black
}

.botao i{
    margin-right: 8px;
}

.container{
    margin-left: 20px;
}

.anime-principal .container{
    width: 70%;
}

.box-anime{
    width: 100%;
    height: 100%;
    display:block;
}

.carrosel-animes{
    margin-top: 10px;
}

a{
    color: white;
    text-decoration: unset;
}
.botao:hover a {
    color: white;
    text-decoration: unset;
    color: black;

    padding: 25px;
    cursor: pointer;
    transition: .6s ease all;
}

.recomendados{
    margin-top: 12px;
    color: white;
    font-size: 30px;
    margin-left: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.lançamentos{
    margin-top: 40px;
    color: white;
    font-size: 30px;
    margin-left: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.contact_list{
    list-style-type: none;
    padding-left: 45%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.contact_list li a{
    color: #AAA;
}

.contact_list li a:hover{
    color: #fff;
}

.git {
    padding-left: 60px;
    margin-top: 5px;
}